.form-groupAdd {
  max-width: 600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }
  .form-groupAdd .containerInput {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    width: 100%;
    margin-bottom: 30px; }
    .form-groupAdd .containerInput .groupInput {
      position: relative;
      width: 100%; }
      .form-groupAdd .containerInput .groupInput + .form-group {
        margin-top: 30px; }
      .form-groupAdd .containerInput .groupInput.focused label {
        transform: translateY(-125%);
        font-size: .75em; }
      .form-groupAdd .containerInput .groupInput.focused label[for=title] {
        font-size: 1.5em; }
    .form-groupAdd .containerInput .doubleInput {
      width: 45%; }
    .form-groupAdd .containerInput label {
      position: absolute;
      left: 0;
      font-size: 20px;
      top: 10px;
      color: #d1d1d1 !important;
      z-index: 10;
      font-weight: 900;
      transition: transform 150ms ease-out, font-size 150ms ease-out; }
    .form-groupAdd .containerInput label[for=title] {
      font-size: 36px; }
    .form-groupAdd .containerInput input {
      border: 0px;
      border-bottom: 3px solid #c7c7c7;
      font-size: 20px;
      position: relative;
      padding: 12px 0px 5px 0;
      width: 100%;
      outline: 0;
      color: #d1d1d1;
      transition: border 150ms ease-out;
      box-shadow: none;
      font-weight: 900; }
      .form-groupAdd .containerInput input#title {
        font-size: 36px; }
      .form-groupAdd .containerInput input:focus {
        border-bottom: 3px solid #ff4a2c;
        box-shadow: none; }
      .form-groupAdd .containerInput input.filled {
        border-bottom: 3px solid #c7c7c7;
        box-shadow: none; }
