.form-groupEdit{
  padding-top: 120px;
  max-width: 600px;
  position: relative;
  margin:0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  .containerInput{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    width:100%;
    margin-bottom: 10px;
    &:first-of-type {
      .input-field {
        label {
          top: 0px;
        }
        input{
          padding: 25px 0 10px;
        }
      }
    }
    &:last-of-type{
      margin-bottom: 10vh;
      .input-field{
        &.focused{
          label{
            transform: translateY(-14px) scale(0.8);
            transform-origin: 0 0;
            font-size: 20px;
          }
        }
        label{
          border: 0px;
          top: 0px;
          border-bottom: 3px solid #c7c7c7;
          font-size: 20px;
          padding: 10px 0 5px;
          width: 100%;
          outline: 0;
          color: #d1d1d1;
          transition: transform 150ms ease-out, font-size 150ms ease-out;
          box-shadow: none;
          font-weight: 900;
          display: block;
        }
        img{
          display: none;
        }
      }
    }
    .input-field{
      position: relative;
      width:100%;
      margin-top: 0px;
      & + .form-group {
        margin-top: 30px;
      }
      &.focused label{
        transform: translateY(-125%);
        font-size: .75em;
        border: 0px;
      }
      &.focused label[for=title]{
        font-size: 1.5em;
      }
    }
    .doubleInput{
      width: 45%;
    }
    label{
      top: 0px;
      font-size: 20px;
      font-weight: 900;
      color: #d1d1d1 !important;
      &.actived{
        transform: translateY(-14px) scale(0.8);
        transform-origin: 0 0;
      }
    }
    label[for=title]{
      font-size: 36px;
    }
    input, textarea{
      border: 0px ;
      border-bottom: 3px solid #c7c7c7;
      font-size: 20px;
      padding: 5px 0;
      position: relative;
      width: 100%;
      outline: 0;
      color: #737373;
      transition: border 150ms ease-out;
      box-shadow: none;
      font-weight: 900;
      &#description{
        padding-top: 15px;
      }
      &#title{
        font-size: 36px;
      }
      &.filled{
        border-bottom: 3px solid #c7c7c7;
        box-shadow: none;
        margin-top: 0px;
      }
      &.select-dropdown{
        color: #d1d1d1;
        &.filled{
          color: #737373;
        }
      }
      &#fileInput{
        opacity: 0;
      }

    }
    .fileName{
      position: absolute;
      top: 0px;
      border: 0px ;
      border-bottom: 3px solid #c7c7c7;
      font-size: 20px;
      padding: 15px 0px 5px 0;
      width: 100%;
      outline: 0;
      color: #737373;
      transition: border 150ms ease-out;
      box-shadow: none;
      font-weight: 900;
    }
    .dropdown-content li > a, .dropdown-content li > span{
      font-weight: bold;
      color: #737373;
      font-family:"Circular Std";
    }
  }
  input[type=submit]{
    color: #ffffff;
    margin-top: 10px;
    font-weight:bold;
    width:60%;
    background-color: #ff4a2c;
    border: none;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 50px;
    font-size: 20px;
    text-transform: initial;
    padding: 20px 30px;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 3px 10px #ff4a2c;
  }
  a.delete{
    width:30%;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    font-weight:bold;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 50px;
    font-size: 20px;
    padding: 20px 0;
    color: #1a1a1a;
    background-color: #eaeaea !important;
    -webkit-box-shadow: inherit ;
    -moz-box-shadow: inherit ;
    text-decoration: none;
    box-shadow: inherit ;
  }
  .picker__frame{
    max-width: 300px;
    .picker__box{
      -webkit-flex-flow: row wrap;
      -moz-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      & > div{
        display: block;
        flex:inherit;
        width: 100%;
        button{
          font-family:"Circular Std";
          font-weight:bold;
        }
      }
      .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected, .picker__date-display{
        background-color: #ff4a2c;
      }
    }
  }
}
.close{
  position: fixed;
  top: 50px;
  right: 70px;
  height: 60px;
  width: 60px;
  border: 2px solid #eaeaea;
  border-radius: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  text-decoration: none !important;
  color: #1a1a1a;
  p{
    font-family: "Circular Std";
    font-weight: bold;
    font-size: 25px;
  }
}
