.container{
  max-width: inherit;
  width: 100%;
  .postContainer{
    width:100vw;
    height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    .left{
      width: 70%;
      height: 100%;
      font-weight: 900;
      color: #1a1a1a;
      padding-left: 10vw;
      padding-right: 200px;
      position: relative;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      -ms-flex-pack: flex-start;
      -webkit-flex-flow: row wrap;
      -moz-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      & > p , & > div , h1{
        width: 100%;
      }
      .date{
        font-size: 18px;
        text-transform: uppercase;
        color: #b1b1b1;
        font-weight: 100;
      }
      h1{
        font-size: 50px;
        margin: 10px 0;
        font-weight: bolder;
      }
      .note{
        font-size: 26px;
        color: #7c7c7c;
        font-weight: 900;
      }
      .description{
        margin-top: 20px;
        font-size: 18px;
        color: #7c7c7c;
        font-weight: 100;
        line-height: 30px;
      }
      .acteurs{
        margin: 40px 0 50px;
        span{
          border-radius: 30px;
          border: 2px solid #e2e2e2;
          text-transform: uppercase;
          color: #424242;
          font-size: 12px;
          padding: 8px 15px;
          margin-right: 10px;
          &:last-of-type{
            margin-right: 0px;
          }
        }
      }
      .button{
        margin-top: 10px;
        .trailer{
          color: #ffffff;
          font-weight: bold;
          background-color: #ff4a2c;
          border: none;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 30px;
          font-size: 20px;
          text-transform: initial;
          padding: 20px 30px;
          cursor: pointer;
          outline: none;
          box-shadow: 0px 3px 10px #ff4a2c;
          text-decoration: none;
        }
        .edit{
          margin-left: 30px;
          height: 65px;
          width: 65px;
          background-color: #eaeaea !important;
          -webkit-box-shadow: inherit ;
          -moz-box-shadow: inherit ;
          text-decoration: none;
          box-shadow: inherit ;
          i{
            color: #000000;
            font-size: 25px;
            line-height: 65px;
          }
        }
      }
      .afficheFilm{
        position: absolute;
        right: -170px;
        z-index: 99;
        top: 50%;
        -webkit-transform: translateY(-50%) ;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        border-radius: 10px;
        height: 500px;
        width: 330px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        align-items: center;
        -webkit-box-shadow: 30px 30px 57px 0px rgba(0, 0, 0, 0.3) ;
        -moz-box-shadow: 0px 30px 57px 0px rgba(0, 0, 0, 0.3) ;
        box-shadow: 0px 30px 57px 0px rgba(0, 0, 0, 0.3) ;
        img{
          max-width: 100%;
          border-radius: 10px;
          height: 100%;
        }
      }
    }
    .right{
      width:30%;
      height: 100%;
      background-size: cover !important;
      div{
        height: 100%;
        width: 100%;
        opacity: 0.6;
      }
    }
  }
}
