body {
  background: #f6f6f6;
}

.kind-list{
  position: absolute;
  top: 20px;
  right: 70px;
  z-index: 101;
  input{
    color: #1a1a1a;
    font-weight: bold;
    font-size: 19px !important;
    padding-bottom: 5px !important;
  }
  .dropdown-content li > a, .dropdown-content li > span{
    color: #1a1a1a;
    font-weight: bold;
    font-size: 19px !important;
  }
}
.add-container {
  position: fixed;
  z-index: 1000;
  bottom: 50px;
  right: 50px;

  a {
    background-color: #ff4a2c;
    border: none;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    padding:0 !important;
    cursor: pointer;
    text-decoration: none !important;
    outline: none;
    display: flex;
    align-items: center;
    i{
      font-size: 30px;
    }
    span {
      display: block;
      width: 20px;
      height: 2px;
      background: #fff;

      &:after {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background: #fff;

        @include transform(rotate(90deg));
      }
    }
  }
}