.posts {
  display: flex;
}

.post-content {
  text-align: center;
  width: 100%;
  max-width: 250px;

  
  .img-container {
    width: 100%;
    max-width: 200px;
    height: 400px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
    }
  }

  h3 {
    padding: 30px 0 10px;
    font-size: 2em;
  }
}