@import 'base/variables';

@import 'base/normalize';
@import 'base/global';

// Import Components
@import 'components/header';

// Import Layouts
@import 'layouts/home';
@import 'layouts/post';
@import 'layouts/notFound';
@import 'layouts/addFilm';

// Import responsive
@import 'base/responsive';

// Import Plugins
@import 'plugins/plugin';

